#!/bin/bash

CONTAINER_NAME="{{ kibana_container_name }}"
CONTAINER_ROOT="{{ kibana_path }}"
IMAGE_NAME="{{ kibana_image_name }}"

CONTAINER=$(docker ps -a | grep $CONTAINER_NAME | tr -s ' ' | cut -d ' ' -f 2)
if [ -n "$CONTAINER" ]; then
  docker stop $CONTAINER_NAME
  docker rm $CONTAINER_NAME
fi

docker run -d \
  --name $CONTAINER_NAME \
  --link {{ es_container_name }}:{{ es_container_name }} \
  -p {{ kibana_http_port }}:5601 \
  -v $CONTAINER_ROOT/kibana.yml:/opt/kibana/config/kibana.yml \
  $IMAGE_NAME
